// Base Styles
/* stylelint-disable */

html {
  box-sizing: border-box;
  font-family: ff(ubuntu);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* stylelint-enable */
