// Media BreakPoints
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1149px;

$retina-dpi: 144dpi;

$mobile: "max-width: #{$tablet-width}";
$tablet: "max-width: #{$desktop-width}";
$desktop: "min-width: #{$desktop-width}";

$retina: "min-resolution: #{$retina-dpi}";

// Padding Variables
$paddings: (
  container-m: 0 30px,
  container-t: 0 50px,
  container-d: 0 50px,
);

// Font Variables
$font-stack: (
  ubuntu: ("Ubuntu", "Tahoma", "Arial", sans-serif),
);

$font-weights: (
  normal: 400,
  regular: 400,
  light: 300,
  bold: 700,
);

$line-height-base: 32px;
$line-height-logo: 30px;
$line-height-button: 18px;
$line-height-title: 43px;
$line-height-link: 18px;

$font-line-height: (
  base: $line-height-base,
  logo: $line-height-logo,
  button: $line-height-button,
  title: $line-height-title,
  link: $line-height-link,
);

$font-size-base: 18px;
$font-size-button: 16px;
$font-size-logo: 26px;
$font-size-title: 33px;
$font-size-link: 16px;

$font-sizes: (
  base: $font-size-base,
  logo: $font-size-logo,
  button: $font-size-button,
  title: $font-size-title,
  link: $font-size-link,
);

// Color Variables
$black: #000000;
$white: #ffffff;
$base: #1c1c1c;
$accent: #b01ddc;

$bg-color-body: $base;
$bg-color-button: $accent;
$bg-color-button--hover: darken($accent, 10%);

$border-color-button: $black;

$font-color-base: $white;
$font-color-logo: $white;
$font-color-logo--hover: $accent;
$font-color-button: $white;
$font-color-link: $white;
$font-color-link--hover: $accent;
